@import "../../../assets/css/index";

.dashboard {

    margin-top: 20px;

    h1 {
        font-size: 16px;
        margin: 5px 0;
    }

    ul {
        margin-top: 80px;
        opacity: 0;
        transition: all 0.4s ease;

        &.is-loaded {
            opacity: 1;
            margin-top: 30px;
        }

        li {

            a {
                display: block;
                color: $color-white;
                text-decoration: none;
                margin: 25px 0;
                font-size: 16px;
                border: 1px solid rgba(187, 57, 204, 0.43);
                padding: 20px;
                background: rgba(187, 57, 204, 0.13);

                &.open {
                    border: 1px solid rgba(104, 214, 2, 0.43);
                    background: rgba(104, 214, 2, 0.13);
                }
            }
        }
    }

    a {
        color: #fff;
        padding: 10px 0;
        display: block;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
            color: lightgreen;
        }
    }

}

header {
    margin-left: -100%;
}

span {
    width: 100%;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}