@import "../../../assets/css/globals";

.dashboard {

    margin-top: 20px;

    h1 {
        font-size: 16px;
    }
    ul {
        margin-top: 20px;

        li {

            a {
                display: block;
                color: $color-white;
                text-decoration: none;
                margin: 25px 0;
                font-size: 16px;
                border: 1px solid rgba(187, 57, 204, 0.43);
                padding: 20px;
                background: rgba(187, 57, 204, 0.13);
            }
        }
    }

}
