<div class="dashboard">
    <h1>
        Pick a lottery to play <a (click)="refreshList()">refresh list</a>
    </h1>

    <ul [ngClass]="{'is-loaded': !isLoading}"
        class="lottery-list">
        <li *ngFor="let contract of contracts">
            <a routerLink="/lottery/{{contract.address}}" [ngClass]="{'open': contract?.open}">
                <h1>Total: <span [innerHtml]="contract?.total"></span></h1>
                <h1>Fee: <span [innerHtml]="contract?.fee"></span></h1>
                <h1>Owner fee: <span [innerHtml]="contract?.ownerFee"></span></h1>
                <h1>Result: <span [innerHtml]="contract?.result"></span></h1>
                <h1>Jackpot: <span [innerHtml]="contract?.jackpot"></span></h1>
                <h1>Type: <span [innerHtml]="contract?.type"></span></h1>
                <h1>Open: <span [innerHtml]="contract?.open"></span></h1>
            </a>
        </li>
    </ul>
</div>