@import "../../../assets/css/index";

.play {
    top: 20px;
    right: 280px;
    width: 500px;
    margin: 20px 0;
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 5px 20px 50px 0 rgba(0, 0, 0, 0.20);

    &__label {
        padding: 16px 0 10px;
        color: $color-white;
        background: $color-blue;
    }

    &__close {
        z-index: 1;
        width: 30px;
        height: 30px;
        cursor: pointer;
        line-height: 28px;
        margin: 0 10px 0;
        text-align: center;
        color: $color-white;
        border-radius: 100%;
        display: inline-table;
        border: 1px solid $color-white;

        &:hover {
            color: $color-blue;
            background: $color-white;
        }
    }
}

.play-content {
    padding: 30px;

    .alerts {
        margin-top: 10px;
    }

    select {
        font-size: 1.4rem;
        font-family: $primary-font;
    }

    app-lottery-icon {
        width: 60px;
        margin-right: 10px;
        display: inline-block;
        vertical-align: bottom;
    }

    button {
        border: 0;
        display: block;
        cursor: pointer;
        font-size: 20px;
        margin-top: 15px;
        padding: 10px 60px;
        color: $color-white;
        border-radius: 10px;
        background: $color-blue;
        font-family: $primary-font;
        line-height: 1.6rem;

        span {
            display: block;
            font-size: .9rem;
        }

        &:hover {
            filter: brightness(0.9);
        }
    }

    &__bet {
        font-size: 3rem;
        color: $color-gray-03;
        display: inline-block;
    }

    &__fee {
        padding: 6px 0;
        font-size: .9rem;
        color: $color-green;
    }
}