@import "../../../../assets/css/variables";

.lottery-icon {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    display: inline-block;
}
.bets-current {
    opacity: .6;
}
.is-closed {
    color: $color-gray-01;
    font-size: .7rem;
    padding: 8px 0;
}

.result {
    display: none;
}

.bets-jackpot {
    padding: 2px 0 2px 22px;
    background: url(/assets/images/ether.svg) no-repeat left center;
    background-size: 16px;
    width: 100%;
    height: 25px;
    margin-bottom: 5px;
}

.bets-jackpot, .contract-info {
    display: inline-block;
    vertical-align: top;
}