@import "../assets/css/variables";
@import "../assets/css/sidebar";
@import "../assets/css/list";
@import "../assets/css/bubbles";

.app-body {
    margin: auto;
    max-width: 1000px;
    font-family: $primary-font;
    position: relative;
}

.container {
    position: relative;

    &--flex {
        display: flex;
    }

    &__label {
        z-index: 0;
        margin-top: 50px;
        line-height: 40px;
        position: relative;
        color: $color-white;

        &:before {
            content: '';
            top: -40px;
            z-index: -1;
            left: -999px;
            bottom: -20px;
            right: -999px;
            position: absolute;
            background: $color-green;
            transform: rotate(-1deg);
        }

        h1 {
            margin: 5px 0;
            font-size: 28px;
        }
    }
}

.app-loading {
    right: 0;
    left: 0;
    position: absolute;
    text-align: center;

    .logo {
        width: 200px;
        height: 200px;
        display: block;
        margin: 100px auto 0;
    }

    span {
        margin: 20px;
        opacity: 0.6;
        display: none;
        font-size: 12px;
        line-height: 20px;

        &.show {
            display: block !important;
        }
    }
}

.app-content {
    opacity: 0;
    padding: 20px;
    transform: translate3d(0px, -50px, 0px);
    pointer-events: none;

    &.is-loaded {
        opacity: 1;
        transform: none;
        pointer-events: auto;
        transition: all .4s ease;
    }
}

header {
    display: flex;
    height: 80px;
    justify-content: space-between;

    h1 {
        font-size: 34px;
        display: inline-table;
        padding: 10px 0 10px 50px;
    }
    i {
        font-size: 14px;
    }
    button {
        border: 0;
        cursor: pointer;
        font-size: 18px;
        margin-top: 20px;
        padding: 5px 20px;
        border-radius: 10px;
        color: $color-white;
        background: $color-green;

        &:hover {
            filter: brightness(0.9);
        }
    }

    .right {
        text-align: right;
    }

    .slack {
        margin-right: 30px;
        color: $color-green;
        text-decoration: none;

        img {
            margin-right: 10px;
            max-width: 30px;
            vertical-align: middle;
        }
    }
}

.play-wrap {
    z-index: 2;
    position: fixed;
    left: 0;
    right: 0;
    pointer-events: none;

    .play {
        opacity: 0;
        margin: auto;
        max-width: 1000px;
        display: block;
        transition: all .3s ease;
        transform: translate3d(30%, 0, 0);
    }

    &.is-play {
        pointer-events: auto;
        .play {
            opacity: 1;
            width: auto;
            transform: translate3d(0px, 0, 0);
        }
    }
}

.meta-mask {

    img {
        max-width: 30px;
        vertical-align: middle;
        margin-bottom: 10px;
    }

    + div * {
        margin: 0;
    }
}

.removed-bets {

    margin-top: 20px;

    h2 {
        margin-bottom: 10px;
        font-size: .8rem;
    }

    li {
        list-style: none;
        display: block;
        margin: 10px 0;
    }

    a {
        cursor: pointer;
        text-decoration: none;
        color: $color-gray-03;
    }

    .lottery-icon {
        width: 24px;
        display: inline-block;
    }
}
