<div class="app-body" (window:keydown)="onKey($event)">

    <app-loading [hidden]="isWeb3Connected"
                 [retryConnect]="retryConnect"></app-loading>

    <div [ngClass]="{'is-loaded': isWeb3Connected}"
         class="app-content">

        <header>
            <h1 class="logo-pic">
                E-LOTHERY <i>alpha</i>
            </h1>
            <div>
                <button>how to play</button>
            </div>
        </header>

        <div class="container">

            <div class="container__label">
                <h1>
                    Try your luck with<br>
                    blockchain lottery
                </h1>
            </div>

            <div class="container--flex">
                <section class="lottery-list" [ngClass]="{'is-play': isPlay}">

                    <a (click)="refreshList()"
                       class="lottery-list__refresh">refresh list</a>

                    <ul>
                        <li *ngFor="let contract of contracts; let _index = index"
                            id="{{contract.address}}">
                            <a [ngClass]="{'is-closed': !contract.contractData?.open}"
                               (click)="play(contract.contractData?.address, _index)">
                                <h1>
                                    <span [innerHtml]="(contract.contractData?.jackpot - (contract.contractData?.jackpot*(contract.contractData?.ownerFee/100)))/1000000000000000000"></span>
                                    eth
                                </h1>

                                <app-lottery-icon contractAddress="{{contract.address}}"></app-lottery-icon>

                                <p><span [innerHtml]="contract.contractData?.total/1000000000000000000"></span>
                                    /
                                    <span [innerHtml]="contract.contractData?.jackpot/1000000000000000000"></span>
                                </p>
                                <span [innerHtml]="contract.contractData?.result"></span>
                            </a>
                        </li>
                    </ul>
                </section>

                <aside class="sidebar">
                    <h2 class="sidebar__title">My bets</h2>

                    <ul class="bets">
                        <h3 *ngIf="!bets?.length">
                            No Bets yet, go make your first!
                        </h3>

                        <h3 *ngIf="withdrawMessage"
                            class="bets__withdraw-error-message">
                            {{withdrawMessage}}
                        </h3>

                        <li *ngFor="let bet of bets"
                            [ngClass]="{'is-winner': bet?.isWinner}">

                            <app-lottery-icon contractAddress="{{bet?.contractAddress}}"></app-lottery-icon>

                            <div class="bets--bet">
                                <span [innerHtml]="bet?.bet" class="bets__bet"></span>
                                <span [innerHtml]="bet?.timestamp | date: 'HH:mm d-MM'"
                                      class="bets__date"></span>
                            </div>
                            <div class="bets__status">

                                <div class="bets__status--pending"
                                     *ngIf="!bet?.isConfirmed">
                                    <a href="https://ropsten.etherscan.io/address/{{bet?.contractAddress}}"
                                       target="_blank">
                                        Pending
                                    </a>
                                </div>
                                <div class="bets__status--confirmed"
                                     *ngIf="bet?.isConfirmed && !bet?.isWinner">
                                    <a href="https://ropsten.etherscan.io/tx/{{bet?.transactionHash}}"
                                       target="_blank">Confirmed
                                        <span>
                                            <i [innerHtml]="bet?.fee/1000000000000000000"></i> eth
                                        </span>
                                    </a>
                                </div>
                                <div class="bets__status--winner"
                                     *ngIf="bet?.isWinner">WINNER!
                                    <div *ngIf="!bet?.withdrawHash">
                                        <button (click)="withdraw(bet)">withdraw</button>
                                    </div>
                                    <div *ngIf="bet?.withdrawHash">
                                        <a href="https://ropsten.etherscan.io/tx/{{bet?.transactionHash}}"
                                           target="_blank"
                                           [innerHtml]="bet?.withdrawHash"
                                           class="bets__status--withdraw">
                                        </a>
                                    </div>
                                </div>
                                <div class="bets__status--winner"
                                     *ngIf="bet?.isInvalid">error?
                                </div>

                            </div>
                        </li>
                    </ul>
                    <!--<button (click)="withdraw()">withdraw</button>-->
                </aside>

                <div [ngClass]="{'is-play':isPlay}"
                     class="play">
                    <div [hidden]="!isPlay">
                        <span class="play__close" (click)="closePlay()">x</span>
                        <app-play [play]="playContractObject"></app-play>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<div class="bubbles">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>

<!--<button (click)="getAccounts()">bet contracts</button>-->
