<div class="app-body app-body--background">

    <div [hidden]="isAppLoaded"
         class="app-loading">
        <div class="logo"></div>
        loading . . .
        <span>
            connecting failure {{retryConnect}}
        </span>
    </div>

    <div [ngClass]="{'is-loaded': isAppLoaded}"
         class="app-content">

        <header>
            <h1 class="logo-pic">
                E-LOTHERY <i>alpha</i>
            </h1>
            <app-connection-status></app-connection-status>
        </header>

        <router-outlet></router-outlet>
    </div>

</div>


<!--<button (click)="getAccounts()">bet contracts</button>-->
