@import "../assets/css/globals";

.app-body {
    overflow: hidden;
    font-family: $primary-font;

    &--background {

        height: 100%;
        position: relative;
        color: aliceblue;
        z-index: 0;

        &:after, &:before {
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: -1;
            content: '';
            position: absolute;
            opacity: 0.7;
        }

        &:before {
            background: url('../assets/images/backgrounds/bg-top.jpg') top center no-repeat;
            background-size: 110%;

        }

        &:after {
            background: url('../assets/images/backgrounds/bg-bottom.jpg') bottom center no-repeat;
            background-size: 150%;
        }

        @include breakpoint_max(sm) {
            &:after, &:before {
                background-size: 800px;
            }
        }
    }

    @include breakpoint(sm) {
        //box-shadow: 0 2px 200px rgba(57, 17, 32, 0.9);
        max-width: 500px;
        max-height: 700px;
        margin: auto;
    }

}

.app-loading {
    text-align: center;

    .logo {
        width: 200px;
        display: block;
        height: 200px;
        margin: 100px auto 0;
    }

    span {
        line-height: 20px;
        font-size: 12px;
        opacity: 0.6;
        display: none;
        margin: 20px;

        .loading {
            @extend .color-loop;
        }

        &.show {
            display: block !important;
        }
    }
}

.app-content {
    opacity: 0;
    transform: translate3d(0px, -50px, 0px);
    padding: 20px;

    &.is-loaded {
        transition: all .4s ease;
        opacity: 1;
        transform: none;
    }
}

header {
    display: flex;
    justify-content: space-between;

    h1 {
        font-size: 18px;
        padding: 10px 0 10px 40px;
    }
    i {
        font-size: 10px;
    }
}

.color-loop {
    animation: color-loop 1s infinite;
}

@keyframes color-loop {
    0% {
        color: red;
    }
    25% {
        color: yellow;
    }
    50% {
        color: blue;
    }
    75% {
        color: green;
    }
    100% {
        color: red;
    }
}