<div class="app-body">

    <app-loading [hidden]="isWeb3Connected"
                 [retryConnect]="retryConnect"></app-loading>

    <div [ngClass]="{'is-loaded': isWeb3Connected}"
         class="app-content">

        <app-tutorial></app-tutorial>

        <header>
            <h1 class="logo-pic">
                life lottery
            </h1>
            <div class="right">
                <div *ngIf="!account?.address"
                     class="meta-mask">
                    <strong>Unlock</strong> your MetaMask <img src="../assets/images/metamask.gif">
                </div>
                <div>
                    <a class="slack"
                       href="https://lifelottery.herokuapp.com/"
                       target="_blank"><img src="../assets/images/slack.png"> Join us!</a>
                    <button (click)="howToPlay()">How to play?</button>
                </div>
            </div>
        </header>

        <div class="container">

            <div class="container__label">
                <h1>
                    Try your luck with<br>
                    our blockchain lottery
                </h1>
                <h2>

                    NO WINNER = DOUBLED JACKPOT
                </h2>
            </div>

            <div class="container--flex">
                <section class="lottery-list"
                         [ngClass]="{'is-play': isPlay}">

                    <ul>
                        <li *ngFor="let contract of contracts | keyValues"
                            id="{{contract.address}}"
                            [ngStyle]="{'transform': contract.contractData?.scale}"
                            [ngClass]="{'is-closed': !contract.contractData?.open}">

                            <a [ngClass]="{'is-closed': !contract.contractData?.open}"
                               (click)="play(contract.contractData?.address)"
                               *ngIf="contract.contractData?.name !== '0x'">

                                <h1 title="{{contract.contractData?.jackpotCalculated}}">
                                    <span [innerHtml]="contract.contractData?.jackpotCalculated"></span>
                                </h1>

                                <app-lottery-icon contractAddress="{{contract.address}}"></app-lottery-icon>

                                <div *ngIf="contract.contractData?.open">
                                    <div class="bets-title">bets</div>
                                    <span
                                            [innerHtml]="calculateCurrentBets(contract.contractData?.balance,contract.contractData?.fee)"></span>
                                    /
                                    <span [innerHtml]="calculateTotalBets(contract.contractData?.jackpot,contract.contractData?.fee)"></span>
                                </div>

                                <div class="result"
                                     *ngIf="!contract.contractData?.open && (contract.contractData?.resultHash != 0)">
                                    result <span [innerHtml]="contract.contractData?.result"></span>
                                </div>

                                <div *ngIf="!contract.contractData?.open && (contract.contractData?.resultHash == 0)">
                                    <app-block-counter
                                            resultBlock="{{contract.contractData?.resultBlock}}"></app-block-counter>
                                </div>

                            </a>
                        </li>
                    </ul>
                </section>

                <aside class="sidebar">

                    <div class="sidebar__account-info"
                         [hidden]="!account?.address">
                        <div class="balance">
                            Account balance
                            <span>{{account?.balance/1000000000000000000}}</span>
                        </div>
                        <a href="{{makeUrlForAddress(account?.address)}}"
                           target="_blank">{{account?.address}}</a>
                    </div>

                    <h2 class="sidebar__title">My bets
                        <span *ngIf="bets"
                              (click)="downloadBets()"
                              class="download-bets">backup my bets</span></h2>

                    <ul class="bets">

                        <div *ngIf="!bets"
                             class="no-bets">
                            <h3>No Bets found.</h3>
                            <br><br>
                            <div *ngIf="account?.address">
                                Load your bets backup file here:
                                <input type="file"
                                       name="bets"
                                       accept="application/json"
                                       (change)="uplodaBets($event)">
                                <br><br>
                            </div>
                            <h4>Curious about how it works?</h4>
                            <br><br>
                            <p>
                                <a href="{{makeUrlForAddress('0x5f90595055e61755d71c04612e9eceeac34fb789')}}"
                                   target="_blank">Read our live contract on etherscan.</a></p>
                        </div>

                        <div *ngIf="withdrawMessage"
                             class="bets__withdraw-error-message">
                            <span (click)="withdrawMessage = null">dismiss</span>
                            <h3 [innerHtml]="withdrawMessage"></h3>
                        </div>

                        <div *ngFor="let bet of bets | keyValues:'bet'">

                            <app-contract-info contractAddress="{{bet | getKey:'contractAddress'}}"></app-contract-info>

                            <div class="bet-list">

                                <li *ngFor="let betValue of bet | keyValues"
                                    [ngClass]="{'is-winner': betValue?.isWinner}">

                                    <!--BET-->
                                    <div class="bets--bet">
                                        <span [innerHtml]="betValue?.bet" class="bets__bet"></span>
                                        <span [innerHtml]="betValue?.timestamp | date: 'HH:mm:s d/MM'"
                                              class="bets__date"></span>
                                    </div>
                                    <!--BET-->


                                    <div class="bets__status">

                                        <!--BET STATUS ERROR -->
                                        <div class="bets__status--error"
                                             *ngIf="betValue?.isInvalid && !betValue?.isConfirmed">
                                            <a href="https://ropsten.etherscan.io/tx/{{betValue?.transactionHash}}"
                                               target="_blank">
                                                Cancelled
                                            </a>
                                        </div>

                                        <!--BET STATUS PENDING -->
                                        <div class="bets__status--pending"
                                             *ngIf="!betValue?.isConfirmed && !betValue?.isInvalid">

                                            <img src="/assets/images/pending.gif">

                                            <div>
                                                <a href="{{makeUrlForAddress(betValue?.contractAddress)}}"
                                                   target="_blank">Pending
                                                </a>

                                                <a href="{{makeUrlForTx(betValue?.transactionHash)}}"
                                                   target="_blank">
                                                <span class="bets__status--withdraw">
                                                {{betValue?.transactionHash}}
                                                </span>
                                                </a>
                                            </div>
                                        </div>

                                        <!--BET STATUS CONFIRMED -->
                                        <div class="bets__status--confirmed"
                                             *ngIf="betValue?.isConfirmed && !betValue?.isWinner && !betValue?.isLooser"
                                             [ngClass]="{'is-looser': betValue.isLooser}">

                                            <a href="{{makeUrlForTx(betValue?.transactionHash)}}"
                                               target="_blank">
                                                <p>Confirmed</p>
                                                <span>
                                            <i [innerHtml]="betValue?.fee/1000000000000000000"></i> eth
                                        </span>
                                            </a>
                                        </div>

                                        <!--BET STATUS LOOSER -->
                                        <div class="bets__status--looser"
                                             *ngIf="betValue?.isLooser && !betValue?.isInvalid && !betValue?.isWinner">

                                            <a href="{{makeUrlForTx(betValue?.transactionHash)}}"
                                               target="_blank">
                                                <p>Loser bet</p>
                                                <span>
                                            <i [innerHtml]="betValue?.fee/1000000000000000000"></i> eth
                                        </span>
                                            </a>
                                        </div>

                                        <!--BET STATUS WINNER :) -->
                                        <div class="bets__status--winner"
                                             *ngIf="betValue?.isWinner">
                                            <span *ngIf="betValue.withdrawConfirmed">
                                                ✓
                                            </span> WINNER!
                                            <div *ngIf="!betValue?.withdrawHash">
                                                <button (click)="withdraw(betValue)">withdraw</button>
                                            </div>
                                            <div *ngIf="betValue?.withdrawHash">
                                                <a href="{{makeUrlForTx(betValue?.transactionHash)}}"
                                                   target="_blank"
                                                   [innerHtml]="betValue?.withdrawHash"
                                                   class="bets__status--withdraw">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </div>
                        </div>
                    </ul>

                    <div *ngIf="betsRestored"
                         class="removed-bets">
                        <h2>
                            Archived bets
                            <button (click)="removedBets = !removedBets">
                                <span [hidden]="removedBets">hide</span>
                                <span [hidden]="!removedBets">show</span>
                            </button>
                        </h2>
                        <ul [hidden]="removedBets">
                            <li *ngFor="let bet of betsRestored">
                                <a href="{{makeUrlForAddress(bet.contractAddress)}}"
                                   target="_blank">
                                    <app-lottery-icon contractAddress="{{bet.contractAddress}}"
                                                      class="lottery-icon"></app-lottery-icon>
                                    {{bet.bet}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </aside>

                <div [ngClass]="{'is-play':isPlay}"
                     class="play-wrap">
                    <app-play [play]="playContractObject"
                              class="play"></app-play>
                </div>

            </div>
        </div>

        <footer>
            Life lottery 2017
            <i>Made with ❤ in Amsterdam</i>
            <a href="https://dapps.ethercasts.com/"
               target="_blank">State of THE DAPPS</a>
        </footer>
    </div>
</div>

<div class="bubbles">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>
