@import "../assets/css/index";

.app-body {
    margin: auto;
    max-width: 1000px;
    font-family: $primary-font;
}

.container {
    position: relative;

    &--flex {
        display: flex;
    }

    &__label {
        z-index: 0;
        margin-top: 50px;
        line-height: 40px;
        position: relative;
        color: $color-white;

        &:before {
            content: '';
            top: -40px;
            z-index: -1;
            left: -999px;
            bottom: -20px;
            right: -999px;
            position: absolute;
            background: $color-green;
            transform: rotate(-1deg);
        }

        h1 {
            margin: 5px 0;
            font-size: 28px;
        }
    }
}

.sidebar {
    flex: 1;
    z-index: 1;
    padding: 20px;
    margin-top: -60px;
    background: #F5F5F5;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.30);

    &__title {
        z-index: 1;
        font-size: 20px;
        margin-top: 30px;
        font-weight: 100;
        position: relative;
        color: $color-white;

        &:before {
            top: -30px;
            z-index: -1;
            content: '';
            left: -49px;
            right: -20px;
            bottom: -40px;
            position: absolute;
            background-size: 100%;
            background: url("../assets/images/label-red.svg") no-repeat;

        }
    }
}

.bets {
    margin-top: 40px;
    max-height: 600px;
    min-height: 300px;
    overflow: auto;

    li {
        width: 100%;
        display: flex;
        margin: 14px 0;
        color: $color-gray-01;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid $color-gray-04;
        padding: 16px 0 2px;

        &.is-winner {
        }

        a {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        img {
            margin-right: 10px;
            width: 30px;
            height: 30px;
        }
    }

    &--bet {
        flex: 2;
    }

    &__bet {
        flex: 2;
        display: block;
        position: relative;
        font-size: 1.2rem;
        color: $color-gray-03;
    }

    &__date {
        font-size: 0.7rem;
    }

    &__status {
        font-size: .8rem;
        text-align: center;

        &--confirmed a {
            color: $color-blue;

            span {
                display: block;
                margin-top: 4px;
                color: $color-gray-01;
            }
        }

        &--pending {
            color: $color-gray-02;
        }

        &--winner {
            color: $color-green;

            button {
                display: block;
                cursor: pointer;
                margin-top: 4px;
                padding: 6px 14px;
                border-radius: 5px;
                color: $color-gray-01;
                background: $color-gray-04;
                border: 1px solid $color-gray-02;

                &:hover {
                    background: $color-blue;
                    color: $color-white;
                }
            }
        }

        &--withdraw {
            width: 80px;
            display: block;
            margin-top: 6px;
            overflow: hidden;
            font-size: .6rem;
            white-space: nowrap;
            color: $color-gray-03;
            text-overflow: ellipsis;
        }
    }

    &__withdraw-error-message {
        width: 200px;
        height: 60px;
        display: block;
        margin-top: 6px;
        overflow: auto;
        font-size: .6rem;
        color: $color-gray-03;
        text-overflow: ellipsis;
    }
}

@include breakpoint(sm) {
    margin: 50px 100px;
}

.app-loading {
    right: 0;
    left: 0;
    position: absolute;
    text-align: center;

    .logo {
        width: 200px;
        height: 200px;
        display: block;
        margin: 100px auto 0;
    }

    span {
        margin: 20px;
        opacity: 0.6;
        display: none;
        font-size: 12px;
        line-height: 20px;

        .loading {
            @extend .color-loop;
        }

        &.show {
            display: block !important;
        }
    }
}

.app-content {
    opacity: 0;
    padding: 20px;
    transform: translate3d(0px, -50px, 0px);
    pointer-events: none;

    &.is-loaded {
        opacity: 1;
        transform: none;
        pointer-events: auto;
        transition: all .4s ease;
    }
}

header {
    display: flex;
    height: 80px;
    justify-content: space-between;

    h1 {
        font-size: 38px;
        display: inline-table;
        padding: 10px 0 10px 50px;
    }
    i {
        font-size: 10px;
    }
    button {
        border: 0;
        cursor: pointer;
        font-size: 18px;
        margin-top: 20px;
        padding: 5px 20px;
        border-radius: 10px;
        color: $color-white;
        background: $color-green;

        &:hover {
            filter: brightness(0.9);
        }
    }
}

.play {
    position: relative;
    transform: translate3d(200px, 0px, 0px);
    transition: all .4s ease;

    &.is-play {
        transform: none;
    }

    &__close {
        top: 53px;
        z-index: 1;
        width: 30px;
        height: 30px;
        left: -686px;
        cursor: pointer;
        line-height: 30px;
        text-align: center;
        position: absolute;
        color: $color-white;
        border-radius: 100%;
        border: 1px solid $color-white;

        &:hover {
            background: $color-white;
            color: $color-blue;
        }
    }
}

@import "./app.component-lottery-list";
