@import "../assets/css/index";

.lottery-list {

    flex: 3;
    margin-top: 70px;
    min-height: 600px;
    transition: all 0.4s ease;

    &.is-play {
        opacity: (.7);
        filter: blur(6px);
        pointer-events: none;
    }

    &__refresh {
        padding: 10px 0;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
            color: lightgreen;
        }
    }

    ul {

        li {
            margin-right: 110px;
            display: inline-flex;

            &:first-child {
                margin-left: 0;
            }

            a {
                cursor: pointer;
                max-width: 100px;
                font-size: 16px;
                color: $color-gray-03;
                text-decoration: none;
                margin: 25px 0;
                transition: all 0.2s cubic-bezier(0.1, 1, 0.1, 3);

                &:hover {
                    transform: scale(1.1);
                }

                &.is-closed {
                    opacity: (.4);
                    pointer-events: none;
                }

                img {
                    max-width: 100%;
                }
            }
        }
    }
}

span {
    width: 100%;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}