.app-loading {
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;

    .logo-pic {
        width: 100px;
        display: block;
        height: 100px;
        margin: 160px auto 100px;
        background-size: 100%;
        animation: pulse .11s ease-in-out infinite alternate, rotate 2s infinite;
    }

    span {
        display: none;
        font-size: 16px;
        margin: 140px 20px;
        line-height: 20px;

        img {
            margin: 20px auto;
            width: 100px;
            display: block;
        }

        &.show {
            display: block !important;
        }
    }

    .hidden {
        display: none;
    }
}

.loading {
    animation: pulse 1s ease-in-out infinite alternate;
}

@keyframes pulse {
    0% {
        font-size: .2rem;
    }
    100% {
        font-size: 14rem;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}