<a routerLink="/">< back</a>

<div [ngClass]="{'show': isContractLoaded}" class="content">

    <div>
        <h3>Open: <span [innerHtml]="lotteryData?.open"></span></h3>
        <h3>Result: <span [innerHtml]="lotteryData?.result"></span></h3>
        <h3>Jackpot: <span
                [innerHtml]="(lotteryData?.total - (lotteryData?.total*lotteryData?.ownerFee))/1000000000000000000"> ETH</span>
        </h3>
        <h3>Total: <span [innerHtml]="lotteryData?.total/1000000000000000000"></span>/<span
                [innerHtml]="lotteryData?.jackpot/1000000000000000000"></span> ETH</h3>
        <h3>Fee: <span [innerHtml]="lotteryData?.fee/1000000000000000000"></span>ETH</h3>
        <h3>Owner fee: <span [innerHtml]="lotteryData?.ownerFee"></span> %</h3>
    </div>

    <div class="is-lottery-sync color-loop" [hidden]="isLotterySync">
        receiving update
    </div>

    <div class="alerts alert-result"
         [ngClass]="{'waiting': !lotteryData?.open && !hasResult && (lotteryData?.result === '0x00')}">
        <div>
            Waiting result any moment
        </div>
        Closed on block{{blockNumber}} <br>
        Current Block {{currentBlock}}<br>
        Remaining blocks {{currentBlock - blockNumber}}
    </div>

    <!--<button (click)="lottery()">-->
    <!--lottery-->
    <!--</button>-->

    <div class="play" [ngClass]="{'is-open': lotteryData?.open}">
        <h1>Play</h1>
        <label for="accounts">
            Choose an account:
        </label>
        <div [hidden]="accounts?.length > 0" disabled>Loading...</div>
        <select #account id="accounts" [hidden]="accounts?.length === 0">
            <option *ngFor="let acount of accounts">{{acount}}</option>
        </select>

        <!--<input type="password" #password placeholder="password">-->
        <div>
            GAS: <input #gas size="10"
                        value="140000"
                        type="range"
                        min="11000"
                        max="500000"
                        step="500">{{gas.value}}
        </div>
        <div>
            <h1>Your bet:</h1>
            0xD1498F1c4AAafcd1eAA1b6e3594a
            <select #bet1>
                <option disabled>$</option>
                <option *ngFor="let bet of bets" [value]="bet">{{bet}}</option>
            </select>
            <select #bet2>
                <option disabled>$</option>
                <option *ngFor="let bet of bets" [value]="bet">{{bet}}</option>
            </select>

            <div [hidden]="!isBetValid"
                 class="alerts">
                <div>
                    Please choose your bet.
                </div>
            </div>
        </div>
        <button (click)="play(account.value, gas.value, bet1.value, bet2.value)">
            GO lucky byte, do your magic...
        </button>

        <div class="alerts">
            <div class="error" [innerHtml]="playErrorMessage"
                 *ngIf="playErrorMessage"></div>
            <div class="success" [innerHtml]="playSuccessMessage"
                 *ngIf="playSuccessMessage"></div>
        </div>
    </div>

    <!--<a (click)="checkResult('0xbe')">result checker</a>-->

    <div class="you-win" [ngClass]="{'is-winner' : isWinner}">
        YOU WIN!
    </div>

    <div *ngIf="isWinner">
        Withdraw
        <div>
            <select #accountWithdraw id="accounts">
                <option *ngFor="let acount of accounts">{{acount}}</option>
            </select>
        </div>
        GAS: <input #gasWithdraw size="10" value="140000">
        <button (click)="withdraw(accountWithdraw.value, gasWithdraw.value)">withdraw</button>
        {{withdrawMessage}}
    </div>

    <div>
        Lottery:
        <a href="https://ropsten.etherscan.io/address/{{lotteryAddress}}"
           target="_blank">
            {{lotteryAddress}}
        </a>
    </div>


    <div *ngFor="let event of lotteryAllEvents">
        {{event.address}}
        {{event.blockHash}}
        {{event.blockNumber}}
        {{event.event}}
        {{event.transactionHash}}
    </div>

    <div class="bets" [hidden]="lotteryBets.length < 1">
        <h2>
            Your bets [<span [innerHtml]="lotteryBets.length"></span>]
        </h2>
        <ul>
            <li *ngFor="let lotteryBet of lotteryBets" [ngClass]="{'is-confirmed' : lotteryBet?.isConfirmed}">
                <div>bet 0x{{lotteryBet?.bet}}</div>
                <p>{{lotteryBet?.timestamp}}</p>
                <a href="https://ropsten.etherscan.io/tx/{{lotteryBet?.newHash}}" target="_blank">
                    {{lotteryBet?.newHash}}
                </a>
                <i>Transaction confirmed: {{lotteryBet?.isConfirmed}}</i>
            </li>
        </ul>
    </div>
</div>
