a {
    color: #fff;
    padding: 10px 0;
    display: block;
    text-decoration: none;
    word-break: break-all;

    &:hover {
        text-decoration: underline;
        color: lightgreen;
    }
}

button {
    margin: 20px 0;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    &:hover {
        animation: color-loop 1s infinite;
    }
}

input {
    padding: 4px;
    font-size: 12px;
}

select {
    color: white;
}

div {
    margin: 10px 0;
}

h3 {
    margin: 10px 0;
}

.content {
    opacity: 0;
    margin-top: 50px;
    transition: all 0.4s ease;

    &.show {
        opacity: 1;
        margin-top: 20px;

    }
}

.play {
    margin: 20px 0;
    display: none;
    &.is-open {
        display: block;
    }
}

.you-win {
    text-align: center;
    background: red;
    padding: 20px;
    left: 0;
    right: 0;
    display: none;

    &.is-winner {
        display: block;
    }
}

.bets {
    span {
        font-size: 14px;
    }
    li {
        margin: 20px 0;
        padding: 10px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        background: rgba(255, 255, 255, 0.1);

        &.is-confirmed {
            border: 1px solid rgba(104, 214, 2, 0.3);
            background: rgba(104, 214, 2, 0.1);
        }

        i {
            animation: color-loop 1s infinite;
        }

        &.is-confirmed i {
            animation: none;
        }
    }
}

.alert-result {
    display: none;

    &.waiting {
        display: block;
        animation: color-loop 1s infinite;
    }
}
