a {
    color: #fff;
    padding: 10px 0;
    display: block;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        color: lightgreen;
    }
}

button {
    margin: 20px 0;
}

input {
    padding: 4px;
    font-size: 12px;
}

select {
    color: white;
}

div {
    margin: 10px 0;
}

h3 {
    margin: 10px 0;
}
button {
    font-size: 20px;
    padding: 10px;
}
.content {
    opacity: 0;
    margin-top: 50px;
    transition: all 0.4s ease;

    &.show {
        opacity: 1;
        margin-top: 20px;

    }
}

.play {
    margin: 20px 0;
    display: none;
    &.is-open {
        display: block;
    }
}

.you-win {
    text-align: center;
    background: red;
    padding: 20px;
    left: 0;
    right: 0;
    display: none;

    &.is-winner {
        display: block;
    }
}

.bets {
    span {
        font-size: 12px;
    }
}