@import "../../../assets/css/index";

.connection-status {
    font-size: 12px;
    display: flex;
    padding: 10px 0;

    span {
        background: red;
        @include rounded(100%);
        width: 14px;
        height: 14px;
        display: inline-block;
        margin: -2px 0 0 7px;

        &.is-connected {
            background: greenyellow;
        }
    }
}