@import "../../../assets/css/variables";

.tutorial {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $color-white;
    z-index: 10;
    animation: tutorial 4s ease;
    min-height: 600px;
}

@keyframes tutorial {
    0% {
        top: 100%
    }
    100% {
        top: 0
    }
}

.tutorial-content {
    text-align: center;
    height: 500px;
    width: 800px;
    margin: auto;

}

.tutorial-content-steps {
    position: relative;
    height: 550px;

    &__label {
        line-height: 40px;
        position: relative;
        color: $color-white;

        &:before {
            content: '';
            top: -40px;
            z-index: -1;
            left: -999px;
            bottom: -20px;
            right: -999px;
            position: absolute;
            transform: rotate(-1deg);
        }

        &--red:before {
            background: $color-red;
        }

        &--blue:before {
            background: $color-blue;
        }

        &--green:before {
            background: $color-green;
        }
    }

    &__image {
        width: 100%;
        height: 500px;
        margin-top: 30px;
    }

    &__step {
        height: 500px;
        top: 100px;
        opacity: 0;
        position: absolute;
        visibility: hidden;
        transition: all 1s ease;

        &.active {
            opacity: 1;
            visibility: visible;
        }
        img {
            width: 100%;
        }
    }
}

nav {

    display: inline-flex;
    justify-content: space-between;
    vertical-align: center;
    background: $color-gray-02;
    margin: auto;

    a {
        padding: 16px 30px;
        cursor: pointer;
        color: $color-gray-03;

        &:nth-child(2) {
            border-left: solid 3px $color-white;
            border-right: solid 3px $color-white;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    .gray {
        opacity: 0.3;
        pointer-events: none;
    }
    .skip {
        color: $color-gray-01;
    }
}