<div class="tutorial" *ngIf="isTutorialOpen">

    <div class="tutorial-content">

        <div class="tutorial-content-steps">

            <div [ngClass]="{'active': currentStep === 0}"
                 class="tutorial-content-steps__step">
                <h1 class="tutorial-content-steps__label tutorial-content-steps__label--red">
                    100% Fair
                </h1>
                <div class="tutorial-content-steps__image">
                    <img src="../../../assets/images/tutorial-01.svg"/>
                </div>

                <nav>
                    <a class="gray">prev</a>
                    <a (click)="nextStep()">next</a>
                    <a (click)="skip()" class="skip">skip</a>
                </nav>
            </div>

            <div [ngClass]="{'active': currentStep === 1}"
                 class="tutorial-content-steps__step">
                <h1 class="tutorial-content-steps__label tutorial-content-steps__label--green">
                    Pick a lottery
                </h1>
                <div class="tutorial-content-steps__image">
                    <img src="../../../assets/images/tutorial_02.png"/>
                </div>

                <nav>
                    <a (click)="previousStep()">prev</a>
                    <a (click)="nextStep()">next</a>
                    <a (click)="skip()" class="skip">skip</a>
                </nav>
            </div>

            <div [ngClass]="{'active': currentStep === 2}"
                 class="tutorial-content-steps__step">
                <h1 class="tutorial-content-steps__label tutorial-content-steps__label--blue">
                    Place a bet
                </h1>
                <div class="tutorial-content-steps__image">
                    <img src="../../../assets/images/tutorial_03.png"/>
                </div>
                <nav>
                    <a (click)="previousStep()">prev</a>
                    <a (click)="nextStep()">next</a>
                    <a (click)="skip()" class="skip">skip</a>
                </nav>
            </div>

            <div [ngClass]="{'active': currentStep === 3}"
                 class="tutorial-content-steps__step">
                <h1 class="tutorial-content-steps__label tutorial-content-steps__label--green">
                    The result
                </h1>
                <div class="tutorial-content-steps__image">
                    <img src="../../../assets/images/tutorial_04.png"/>
                </div>
                <nav>
                    <a (click)="previousStep()">prev</a>
                    <a (click)="nextStep()">next</a>
                    <a (click)="skip()" class="skip">skip</a>
                </nav>
            </div>
        </div>
    </div>
</div>
